@mixin btn {
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  background-color: black;
  color: white;
}
@mixin btnHover {
  cursor: pointer;
  background-color: navy;
  font-size: 28px;
}

* {
  text-shadow: black 3px 2px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  background-image: url("../img/cloudsbg.jpeg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  grid-template-rows: 60px minmax(650px, 1fr);
  grid-template-columns: minmax(300px, 1fr);
  gap: 10px;
  align-items: start;
  justify-items: center;
  header {
    h1 {
      color: rgb(149, 251, 255);
      text-decoration: underline;
    }
  }

  main {
    display: grid;
    grid-template-rows: 80px minmax(500px, 1fr) 80px;
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    color: rgb(207, 242, 248);
    .searchBar {
      display: grid;
      position: relative;
      grid-template-rows: 60px;
      grid-template-columns: minmax(200px, 600px) 75px;
      border: solid 1px white;
      border-radius: 5px;
      ::placeholder {
        color: rgb(146, 142, 142);
      }
      input {
        @include btn();
        padding: 0;
        background-color: rgba(0, 0, 0, 0.596);
      }
      button {
        @include btn();
        &:hover {
          @include btnHover();
        }
      }
      ul {
        position: absolute;
        width: 100%;
        margin-top: 62px;
        list-style-type: none;
        li {
          height: 50px;
          padding: 10px;
          font-size: 20px;
          background-color: black;
          &:hover {
            cursor: pointer;
            font-weight: 500;
            background-color: rgb(28, 26, 53);
          }
        }
      }
    }

    .weatherCard {
      display: grid;
      grid-template-rows: repeat(2, minmax(100px, 250px));
      grid-template-columns: repeat(2, minmax(100px, 350px));
      border: solid 3px rgba(21, 24, 90, 0.788);
      background: rgba(21, 24, 90, 0.534);
      border-radius: 10px;
      padding: 10px;
      grid-template-areas:
        "section section"
        "div div";
      p {
        margin: 3% 0;
        font-size: 20px;
        font-weight: 500;
      }
      section:nth-child(1) {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
      }
      section:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        img {
          height: auto;
          width: 100%;
          max-width: 150px;
        }
      }
      div {
        display: grid;
        grid-area: div;
        grid-template-columns: 1fr minmax(120px, 1fr) minmax(50px, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0 10px;
        align-items: center;
        border-top: solid black 1px;
        p {
          width: 100%;
        }
      }
    }
    button {
      @include btn();
      &:hover {
        @include btnHover();
      }
    }
  }
}
