@mixin btn {
  border-radius: 5px;
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: white;
}
@mixin btnHover {
  cursor: pointer;
  background-color: navy;
  font-size: 28px;
}

* {
  text-shadow: black 3px 2px;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/cloudsbg.jpeg");
  background-size: cover;
  grid-template-rows: 0.2fr 1fr;
  grid-template-columns: 1fr;
  header {
    background-color: rgba(0, 77, 128, 0.233);
    h1 {
      text-align: center;
      color: rgb(149, 251, 255);
      text-decoration: underline;
    }
  }

  main {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    align-items: start;
    justify-items: center;
    background-color: rgba(0, 0, 128, 0.233);
    color: rgb(207, 242, 248);

    .searchBar {
      display: grid;
      grid-template-rows: 60px 1fr;
      grid-template-columns: 400px 75px;
      border: solid 1px white;
      border-radius: 5px;
      ::placeholder {
        color: rgb(146, 142, 142);
      }
      input,
      button {
        @include btn();
      }
      input {
        background-color: rgba(0, 0, 0, 0.596);
      }
      button {
        &:hover {
          @include btnHover();
        }
      }
      ul {
        display: grid;
        position: absolute;
        grid-template-columns: 400px;
        grid-template-rows: 1fr;
        margin-top: 60px;
        padding: 0;
        list-style-type: none;
        li {
          padding: 10px;
          font-size: 20px;
          background-color: black;
          &:hover {
            cursor: pointer;
            font-weight: 500;
            background-color: rgb(28, 26, 53);
          }
        }
      }
    }

    .weatherCard {
      display: grid;
      grid-template-rows: 0.5fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      max-width: 700px;
      max-height: 600px;
      align-items: center;
      border: solid 3px rgba(21, 24, 90, 0.788);
      background: rgba(21, 24, 90, 0.534);
      border-radius: 10px;
      padding: 10px;
      grid-template-areas:
        "aside section"
        "div div";
      h2 {
        margin: 3% 0;
      }
      aside,
      section,
      div {
        height: 100%;
        width: 100%;
      }
      aside {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
      }
      section {
        display: grid;
        grid-template-rows: 1fr 0.3fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        img {
          height: auto;
          width: 100%;
          max-width: 150px;
        }
      }
      div {
        display: grid;
        grid-area: div;
        grid-template-columns: 1.2fr 0.9fr 0.9fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: start;
        align-items: center;
        border-top: solid black 1px;
      }
    }
    button {
      @include btn();
      &:hover {
        @include btnHover();
      }
    }
  }
}
