* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  background-image: url("../img/cloudsbg.jpeg");
  background-size: cover;
  background-position: center center;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  min-width: 300px;
  height: 100vh;
  gap: 10px;
  align-items: start;
  justify-items: center;

  // fonts for page
  h1 {
    font-size: 35px;
  }
  input,
  button p {
    font-size: 25px;
  }
  li,
  p {
    text-shadow: black 3px 2px;
    font-size: 20px;
  }

  header {
    h1 {
      color: rgb(0, 0, 0);
      text-decoration: underline;
      text-shadow: rgba(25, 119, 243, 0.275) 3px 2px;
    }
  }

  main {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    color: rgb(207, 242, 248);
    .searchBar {
      display: grid;
      position: relative;
      grid-template-rows: 60px;
      grid-template-columns: minmax(200px, 600px) 75px;
      border: solid 1px white;
      border-radius: 5px;
      ::placeholder {
        color: rgb(146, 142, 142);
      }
      input {
        color: white;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.596);
      }

      ul {
        position: absolute;
        width: 100%;
        margin-top: 62px;
        list-style-type: none;
        li {
          height: 50px;
          padding: 10px;
          background-color: black;
          &:hover {
            cursor: pointer;
            font-weight: 500;
            background-color: rgb(28, 26, 53);
          }
        }
      }
    }
    .weatherCard {
      display: grid;
      grid-template-rows: repeat(2, 225px);
      grid-template-columns: repeat(2, minmax(auto, 350px));
      border: solid 3px rgba(21, 24, 90, 0.788);
      background: rgba(21, 24, 90, 0.534);
      border-radius: 10px;
      padding: 10px;
      grid-template-areas:
        "section section"
        "div div";
      p {
        font-weight: 500;
      }
      section:nth-child(1) {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
      }
      section:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;
        justify-items: center;
        img {
          height: auto;
          width: 100%;
          max-width: 150px;
        }
        p {
          align-self: center;
        }
      }
      div {
        display: grid;
        grid-area: div;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0 5px;
        align-items: center;
        border-top: solid black 1px;
        p {
          width: 100%;
        }
      }
    }
    .temp-btn {
      height: 60px;
      width: 150px;
    }
    //searchbar & temp btns
    button {
      border-radius: 5px;
      padding: 10px;
      background-color: black;
      color: white;
      &:hover {
        cursor: pointer;
        padding-bottom: 20px;
        background: blue;
        transition: all 0.2s ease 0s;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 25px;
    }
    input,
    button p {
      font-size: 18px;
    }
    li,
    p {
      font-size: 15px;
    }
  }
}
